*
{
	margin: 0;
	padding: 0;
}

body, html {
    height: 100%;
}

.parallax
{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(waterloo.png);
	height: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.parallax2
{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(waterloo.png);
	height: 20%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

@media only screen and (max-device-width: 1366px) {
    .parallax 
	{
        background-attachment: scroll;
    }
	.parallax2 
	{
        background-attachment: scroll;
    }
}

.main-nav
{
	float: right;
	list-style: none;
	margin-top: 30px;
}

.main-nav li
{
	display: inline-block;
}

.main-nav li a
{
	color: pink;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
}

.main-nav li.active a
{
	border: 1px solid pink
}

.main-nav li a:hover
{
	border: 1px solid pink
}

.row h1
{
	float: left;
	color: pink;
	padding: 10px 20px;
	font-family: "Roboto", sans-serif;
	font-size: 45px;
	font-weight: lighter;
}

body
{
	font-family: monospace;
}

.row 
{
	max-width: 1550px;
	margin: auto;
}

.schl h1
{
	color: black;
	padding-top: 20px;
	padding-left: 30px;
	font-family: "Roboto", sans-serif;
	font-size: 45px;
	font-weight: lighter;
}

.schl h2
{
	color: pink;
	padding-left: 30px;
	font-family: "Roboto", sans-serif;
	font-size: 35px;
	font-weight: lighter;
}

table 
{
    margin-top: 40px;
	font-family: "Roboto", sans-serif;
    width: 100%;
	padding-right: 1%;
	padding-left: 1%;
}

th
{
	text-align: center;
	padding-bottom: 30px;
	font-size: 25px;
}

td
{
	text-align: left;
	padding-left: 2%;
	padding-right: 1%;
	vertical-align: top;
}

.complete
{
	list-style: none;
	border-right: 1px solid pink;
}

.current
{
	list-style: none;
	position: relative;
}

.current::after
{
	content: "";
	position: absolute;
	top: 0px;
	bottom: -270px;
	right: 0px;
	border-right: 1px solid pink;
}

.future
{
	list-style: none;
}

.complete li a, .current li a, .future li a
{
	color: maroon;
	text-decoration: none;
	font-size: 18px;
	padding-right: 3%;
}