*
{
	margin: 0;
	padding: 0;
}

body, html {
    height: 100%;
}

.parallax
{
	background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(hair.jpg);
	height: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
}

.parallax2
{
	background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(ripleys.jpg);
	height: 90%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}

.parallax3
{
	background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(ripleys.jpg);
	height: 5%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}

@media only screen and (max-device-width: 1366px) {
    .parallax 
	{
        background-attachment: scroll;
    }
	.parallax2 
	{
        background-attachment: scroll;
    }
	.parallax3 
	{
        background-attachment: scroll;
    }
}

.main-nav
{
	float: right;
	list-style: none;
	margin-top: 30px;
}

.main-nav li
{
	display: inline-block;
}

.main-nav li a
{
	color: white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
}

.main-nav li.active a
{
	border: 1px solid blue
}

.main-nav li a:hover
{
	border: 1px solid blue
}

.row h1
{
	float: left;
	color: blue;
	padding: 10px 20px;
	font-family: "Roboto", sans-serif;
	font-size: 45px;
	font-weight: lighter;
}

body
{
	font-family: monospace;
}

.row 
{
	max-width: 1550px;
	margin: auto;
}

/* .hello
{
	position: absolute;
	width: 1200px;
}

.hello h1
{
	color: pink;
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
	font-size: 60px;
	font-weight: normal;
	text-align: center;
	margin-top: 500px;
} */

.abt h1
{
	color: blue;
	font-family: "Roboto", sans-serif;
	font-size: 350%;
	font-weight: lighter;
	text-align: center;
	padding-top: 3%;
	text-decoration: underline;
}

.abt p 
{
	color: black;
	font-family: "Roboto", sans-serif;
	font-size: 170%;
	font-weight: lighter;
	text-align: center;
	padding-top: 50px;
	padding-left: 15%;
	padding-right: 15%;
	line-height: 40px;
}

.fa
{
	padding: 12px;
	width: 20px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	margin-top: 1%;
	margin-left: 10px;
}

.fa-envelope
{
	background: #125688;
	color: white;
	margin-left: 46%;
}

.fa-linkedin
{
	background: #007bb5;
	color: white;
}