*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.row:after, .code:after, .cad:after, .head:after, p1, p2
{
    content: "";
    display: table;
    clear: both;
}

.nav div {
	height: 6px;
	background-color: black;
	margin: 7px 0;
	border-radius: 25px;
	transition: 0.3s;
}

.nav {
	float: left;
	width: 40px;
	display: block;
	margin: 1vw 0 0 1vw;
	background-color: none;
}

.one {
	width: 100%;
}

.two {
	width: 65%;
}

.three {
	width: 85%;
}

.nav:hover div {
	width: 100%;
}

.menu {
	float: left;
	list-style: none;
}

.menu li {
	padding-bottom: 2px;
}

.menu li ul {
	float: left;
	list-style: none;
	display: none;
	background-color: #C1C1C1;
	border-radius: 0.2vw;
	text-align: center;
	position: relative;
}

.menu li ul a {
	color: black;
	text-decoration: none;
	padding: 1vw 2.2vw;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 2vw;
}

.menu:hover li ul {
	display: block;
	margin-left: 1vw;
	margin-right: -10vw;
	margin-bottom: -15vw;
	border-style: solid;
	border-width: 0.1vw;
	border-color: black;
}

.menu:hover div {
	width: 100%;
}

.hovs li a:hover {
	color: white;
}

/*
.main-nav
{
	float: right;
	list-style: none;
	margin-top: 30px;
}

.main-nav li
{
	display: inline-block;
}

.main-nav li a
{
	color: pink;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
}

.main-nav li.active a
{
	border: 1px solid pink
}

.main-nav li a:hover
{
	border: 1px solid pink
}
*/

.row h1
{
	float: right;
	color: blue;
	padding: 1vw 4vw;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 4vw;
	font-weight: lighter;
}

body
{
	font-family: monospace;
}

.row 
{
	max-width: 1550px;
	margin: auto;
}

.code h1, .cad h1
{
	float: left;
	font-family: "Roboto", sans-serif;
	font-size: 38px;
	margin-left: 10%;
	margin-top: 5%;
	margin-bottom: 2%;
}

.column
{
	float: left;
	width: 50%;
	margin-bottom: 13%;
}

.image
{
	position: relative;
	text-align: center;
	background-repeat: no-repeat;
	width: 65%;
}

.lbl
{
	clear: both;
	opacity: 1;
	position: absolute;
	top: 3%;
	left: 5%;
	font-family: "Roboto", sans-serif;
	font-size: 40px;
	font-weight: bold;
	color: white;
	text-align: left;
}

.image:hover
{
	opacity: 0.7;
}

.rectangle
{
	opacity: 0.85;
	width: 100%;
	height: 100%;
	background-color: pink;
	position: absolute;
	top: 0;
}

p1
{
	font-size: 26px;
	font-weight: normal;
	color: black;
}

p2
{
	font-size: 18px;
	font-weight: normal;
	color: black;
}