*
{
	margin: 0;
	padding: 0;
}

body, html {
    height: 100%;
}

.parallax
{
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(static/waterloo.png);
	height: 100%;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
}

/*.parallax2
{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(static/waterloo.jpg);
	height: 20%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}*/

@media only screen and (max-device-width: 1366px) {
    .parallax 
	{
        background-attachment: scroll;
    }
/*	.parallax2 
	{
        background-attachment: scroll;
    }*/
}

/* Start of down arrow */
.box {
	float: left;
	position: absolute;
	bottom: 3vh;
	left: 48%;
}

.arrow {
	box-sizing: border-box;
	height: 3vw;
	width: 3vw;
	border-style: solid;
	border-color: white;
	border-width: 0px 1px 1px 0px;
	transform: rotate(45deg);
	transition: border-width 150ms ease-in-out;
}

.arrow:hover {
	border-bottom-width: 4px;
	border-right-width: 4px;
}

/* Start of menu */
.nav div {
	height: 0.5vw;
	background-color: black;
	margin: 0.45vw 0;
	border-radius: 1vw;
	transition: 0.3s;
}

.nav {
	float: left;
	width: 3vw;
	display: block;
	margin: 1vw 0 0 1vw;
	background-color: none;
}

.one {
	width: 100%;
}

.two {
	width: 65%;
}

.three {
	width: 85%;
}

.nav:hover div {
	width: 100%;
}

.menu {
	float: left;
	list-style: none;
}

.menu li {
}

.menu li ul {
	float: left;
	list-style: none;
	display: none;
	background-color: #C1C1C1;
	border-radius: 0.2vw;
	text-align: center;
}

.menu li ul a {
	color: black;
	text-decoration: none;
	padding: 1.1vw 1.1vw;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 2vw;
}

.menu:hover li ul {
	display: block;
	margin-left: 1vw;
	border-style: solid;
	border-width: 0.1vw;
	border-color: black;
}

.menu:hover div {
	width: 100%;
}

.hovs li a:hover {
	color: white;
}

/* Old Menu
.main-nav
{
	float: right;
	list-style: none;
	margin-top: 30px;
}

.main-nav li
{
	display: inline-block;
}

.main-nav li a
{
	color: pink;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
}

.main-nav li.active a
{
	border: 1px solid pink
}

.main-nav li a:hover
{
	border: 1px solid pink
}
*/

.row h1
{
	float: right;
	color: blue;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 4vw;
	font-weight: lighter;
	margin-top: 1vw;
	margin-right: 2vw;
}

.schl h1
{
	color: black;
	padding-top: 3vh;
	padding-left: 2vw;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 4vw;
	font-weight: lighter;
}

.schl h2
{
	color: blue;
	padding-left: 2vw;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 3vw;
	font-weight: lighter;
}

.schl p
{
	color: black;
	padding-left: 2vw;
	padding-top: 1vh;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1.5vw;
	font-weight: lighter;
}

table 
{
    margin-top: 40px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    width: 100%;
	padding-left: 1vw;
}

th
{
	text-align: center;
	padding-bottom: 4vh;
	font-size: 2vw;
}

td
{
	text-align: left;
	padding-left: 2vw;
	padding-right: 1vw;
	vertical-align: top;
	width: 33%;
	font-size: 1.5vw;
}

td ul li {
}

.code
{
	list-style: none;
}

.design
{
	list-style: none;
	position: relative;
}

.design::after
{
	content: "";
	position: absolute;
	top: 0px;
	bottom: -270px;
	right: 0px;
}

.other
{
	list-style: none;
}

.code li a, .design li a, .other li a
{
	color: maroon;
	text-decoration: none;
	font-size: 1.5vw;
	padding-right: 3%;
}

.projss h1
{
	color: black;
	padding-left: 2vw;
	padding-bottom: 5vh;
	padding-top: 5vh;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 4vw;
	font-weight: lighter;
}

.column
{
	float: left;
	width: 23%;
	height: 35vh;
	margin-bottom: 6vh;
}

.image
{
	position: relative;
	text-align: center;
	background-repeat: no-repeat;
	width: 97%;
	height: 100%;
	background-size: 100%;
}

.lbl
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bold;
	color: white;
	text-align: left;
	padding-top: 0.1vw;
}

.image:hover
{
	opacity: 0.7;
	cursor: pointer;
}

.rectangle
{
	opacity: 0.85;
	width: 100%;
	height: 3.4vw;
	margin-top: 13vw;
	background-color: blue;
	position: absolute;
	margin-bottom:20px
}

.column p1
{
	padding-left: 1vw;
	padding-top: 2vh;
	font-size: 1.5vw;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: lighter;
	color: white;
}

.column p2
{
	padding-left: 1vw;
	font-size: 1vw;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: lighter;
	color: white;
	display: block;
}

/*Start of popups*/
.modal-window {
  position: fixed;
  background-color: rgba(200, 200, 200, 0.75);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.modal-window:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-window>div {
  width: 80%;
  height: 80%;
  position: relative;
  margin: 3% auto;
  padding: 2rem;
  background: #fff;
  color: #444;
  overflow: auto;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.modal-close:hover {
  color: #000;
}

.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}

.list li {
	list-style: none;
	font-size: 1.8vw;
	color: black;
	margin-left: 2vw;
	margin-bottom: 4vw;
}

.list li ul li {
	font-size: 1.3vw;
	margin-top: 1vw;
	line-height: 2vw;
}

.list li ul li ul li {
	font-size: 1.2vw;
}

.list #full {
	background-color: #DEE2E2;
	padding: 2vw;
	height: 12vw;
}

.list #full img {
	width: auto;
	height: 100%;
	float: right;
	margin-top: -2vw;
	margin-left: 4vw;
}

#persona {
	background-color: #DEE2E2;
	padding: 2vw;
	height: 37vw;
}

#persona img {
	width: 35vw;
	height: auto;
	float: right;
	margin-top: -2vw;
	margin-left: 4vw;
}

#qfd {
	background-color: #DEE2E2;
	padding: 2vw;
}

#qfd img {
	width: 100%;
	height: auto;
	margin-top: 2vw;
	display: block;
}

#lfp {
	display: block;
}

#lfp li {
	height: 10vw;
	margin-bottom: 0;
}

#lfp img {
	width: 100%;
	height: auto;
	display: block;
}

#one {
	background-color: #DEE2E2;
	padding: 2vw;
	width: 25%;
	display: inline-block;
}

.modal-window video {
	width: 100%;
	height: auto;
}

/*.button.play {
	float: left;
	position: relative;
	background-color: transparent;
	border-style: solid;
	border-width: 1.5vw 0vw 1.5vw 3vw;
	border-color: red blue green yellow;
	box-sizing: border-box;
	border-color: transparent transparent transparent pink;
	z-index: 1;
}

.button.play:hover {
  cursor: pointer;
  opacity: 0.6;
}*/

.hovers:hover {
	background-color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.box2{
  width: 74px;
  height: 74px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 37px 0px 37px 74px;
  border-color: transparent transparent transparent steelblue;
  transition: all 100ms ease-in-out;
}

.pause{
  border-style: double;
  border-width:0px 0px 0px 60px;
}