*
{
	margin: 0;
	padding: 0;
}

body, html {
    width: 100%;
    margin: 0;
}

.wrapper {
	text-align: center;
	width: 100%;
}

.parallax
{
	background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(static/hair.jpg);
	height: 100%;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
}

.parallax2
{
	background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(static/ripleys.jpg);
	height: 90%;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}

@media only screen and (max-device-width: 1366px) {
    .parallax 
	{
        background-attachment: scroll;
    }
	.parallax2 
	{
        background-attachment: scroll;
    }
}

.box {
	float: left;
	position: absolute;
	bottom: 3vh;
	left: 48%;
}

.arrow {
	box-sizing: border-box;
	height: 3vw;
	width: 3vw;
	border-style: solid;
	border-color: white;
	border-width: 0px 1px 1px 0px;
	transform: rotate(45deg);
	transition: border-width 150ms ease-in-out;
}

.arrow:hover {
	border-bottom-width: 4px;
	border-right-width: 4px;
}

.nav div {
	height: 6px;
	background-color: black;
	margin: 7px 0;
	border-radius: 25px;
	transition: 0.3s;
}

.nav {
	float: left;
	width: 40px;
	display: block;
	margin: 1vw 0 0 1vw;
	background-color: none;
}

.one {
	width: 100%;
}

.two {
	width: 65%;
}

.three {
	width: 85%;
}

.nav:hover div {
	width: 100%;
}

.menu {
	float: left;
	list-style: none;
}

.menu li {
	padding-bottom: 2px;
}

.menu li ul {
	float: left;
	list-style: none;
	display: none;
	background-color: #C1C1C1;
	border-radius: 0.2vw;
	text-align: center;
}

.menu li ul a {
	color: black;
	text-decoration: none;
	padding: 1vw 2.2vw;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 2vw;
}

.menu:hover li ul {
	display: block;
	margin-left: 1vw;
	border-style: solid;
	border-width: 0.1vw;
	border-color: black;
}

.menu:hover div {
	width: 100%;
}

.hovs li a:hover {
	color: white;
}
/*
.main-nav
{
	float: right;
	list-style: none;
	margin-top: 30px;
}

.main-nav li
{
	display: inline-block;
}

.main-nav li a
{
	color: white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
}

.main-nav li.active a
{
	border: 1px solid blue
}

.main-nav li a:hover
{
	border: 1px solid blue
}
*/
.row h1
{
	float: right;
	color: #1501D1;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size: 6vw;
	margin-top: 1vw;
	margin-right: 2vw;
}

.about1
{
	background-image: url(static/light_blue.jpg);
	width: 100%;
}

.abt h1
{
	color: blue;
	font-family: "Roboto", sans-serif;
	font-size: 250%;
	text-align: center;
	padding-top: 2%;
	text-decoration: underline;
}

.abt table tr
{
	list-style: none;
}

.abt table tr th
{
	width: 33%;
	padding-top: 2%;
}

.abt table tr td
{
	vertical-align: top;
}

.headerss
{
	text-align: center;
	color: black;
	font-size: 3vw;
}

.abt p 
{
	color: black;
	font-family: "Roboto", sans-serif;
	font-size: 1.5vw;
	font-weight: lighter;
	text-align: left;
	padding-top: 0.8vw;
	padding-bottom: 0.8vw;
	line-height: 110%;
}

.callme
{
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 1.6vw;
	font-weight: lighter;
	padding-top: 3vw;
}

.me img
{
	height: 18vw;
	width: 18vw;
	margin-left: 7vw;
}

.me
{
	padding-top: 3vw;
	padding-bottom: 2vw;
}

.fa
{
	padding: 12px;
	width: 20px;
	text-align: center;
	text-decoration: none;
	border-radius: 40vw;
}

.fa-envelope
{
	background: #125688;
	color: white;
	margin-bottom: 1vw;
	margin-top: 1vw;
}

.fa-linkedin
{
	background: #007bb5;
	color: white;
	margin-bottom: 1vw;
	margin-top: 1vw;
	margin-left: 1vw;
}