*
{
	margin: 0;
	padding: 0;
}

body, html {
    width: 100%;
    margin: 0;
}

.wrapper {
	text-align: center;
	width: 100%;
}

.parallax
{
	background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(static/hair.jpg);
	height: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
}

.parallax2
{
	background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(static/ripleys.jpg);
	height: 90%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}

@media only screen and (max-device-width: 1366px) {
    .parallax 
	{
        background-attachment: scroll;
    }
	.parallax2 
	{
        background-attachment: scroll;
    }
}

.nav div {
	height: 6px;
	background-color: black;
	margin: 7px 0;
	border-radius: 25px;
	transition: 0.3s;
}

.nav {
	float: left;
	width: 40px;
	display: block;
	margin: 1vw 0 0 1vw;
	background-color: none;
}

.one {
	width: 100%;
}

.two {
	width: 65%;
}

.three {
	width: 85%;
}

.nav:hover div {
	width: 100%;
}

.menu {
	float: left;
	list-style: none;
}

.menu li ul {
	float: left;
	list-style: none;
	display: none;
	background-color: white;
}

.menu li ul a {
	color: black;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto", sans-serif;
	font-size: 2vw;
}

.menu:hover li ul{
	display: block;
}

.main-nav
{
	float: right;
	list-style: none;
	margin-top: 30px;
}

.main-nav li
{
	display: inline-block;
}

.main-nav li a
{
	color: white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
}

.main-nav li.active a
{
	border: 1px solid blue
}

.main-nav li a:hover
{
	border: 1px solid blue
}

.row h1
{
	float: right;
	color: blue;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 400;
	font-size: 7vw;
	margin-top: 1vw;
	margin-right: 2vw;
}

.abt h1
{
	color: blue;
	font-family: "Roboto", sans-serif;
	font-size: 250%;
	font-weight: lighter;
	text-align: center;
	padding-top: 2%;
	text-decoration: underline;
}

.abt p 
{
	color: black;
	font-family: "Roboto", sans-serif;
	font-size: 170%;
	font-weight: lighter;
	text-align: center;
	padding-top: 2%;
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 2%;
	line-height: 110%;
}

.fa
{
	padding: 12px;
	width: 20px;
	text-align: center;
	text-decoration: none;
	border-radius: 40vw;
}

.fa-envelope
{
	background: #125688;
	color: white;
	margin-bottom: 1vw;
	margin-top: 1vw;
}

.fa-linkedin
{
	background: #007bb5;
	color: white;
	margin-bottom: 1vw;
	margin-top: 1vw;
	margin-left: 1vw;
}